[submodule "third_party/STM32CubeG4"]
	path = third_party/STM32CubeG4
	url = https://github.com/STMicroelectronics/STM32CubeG4.git
[submodule "third_party/tinyusb"]
	path = third_party/tinyusb
	url = https://github.com/hathach/tinyusb.git
